In [36]:
import pandas as pd

In [37]:
df = pd.read_csv('KPI_results.csv', index_col=0)

In [38]:
df.Start_time = pd.to_datetime(df.Start_time)
df.End_time = pd.to_datetime(df.End_time)

In [39]:
df

,VehHourTrav,VehHourTrav_ns,PassHourTrav,PassHourTrav_ns,PassUtility,PassUtility_ns,mean_lambda,revenue_s,revenue_ns,Fare_Discount,...,fleet_size_shared,lambda_shared,_typ,dtype,Replication,Batch,shared_discount,Start_time,End_time,Demand_size
0,92970,114141,117411,114141,1407.676625,1427.5440,0.305817,136969.20,171211.5,-0.20,...,66.0,0.305817,DotMap(_typ=DotMap()),DotMap(_typ=DotMap()),0,0,0.20,2016-01-01 00:00:17,2016-01-01 00:29:45,198
1,82898,114141,120049,114141,1392.810710,1427.5440,0.378822,130120.74,171211.5,-0.24,...,57.0,0.378822,DotMap(_typ=DotMap()),DotMap(_typ=DotMap()),0,0,0.24,2016-01-01 00:00:17,2016-01-01 00:29:45,198
2,79241,114141,122852,114141,1380.820575,1427.5440,0.396498,123272.28,171211.5,-0.28,...,52.0,0.396498,DotMap(_typ=DotMap()),DotMap(_typ=DotMap()),0,0,0.28,2016-01-01 00:00:17,2016-01-01 00:29:45,198
3,112058,132553,134915,132553,1634.817525,1657.8305,0.287076,159063.60,198829.5,-0.20,...,67.0,0.287076,DotMap(_typ=DotMap()),DotMap(_typ=DotMap()),0,1,0.20,2016-01-01 00:30:04,2016-01-01 00:59:48,246
4,105589,132553,137754,132553,1613.657885,1657.8305,0.294371,151110.42,198829.5,-0.24,...,65.0,0.294371,DotMap(_typ=DotMap()),DotMap(_typ=DotMap()),0,1,0.24,2016-01-01 00:30:04,2016-01-01 00:59:48,246
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25901,81563,99765,103560,99765,1215.942735,1247.7390,0.267898,113732.10,149647.5,-0.24,...,54.0,0.267898,DotMap(_typ=DotMap()),DotMap(_typ=DotMap()),0,8711,0.24,2016-06-30 23:00:05,2016-06-30 23:29:41,181
25902,76707,99765,104919,99765,1207.303570,1247.7390,0.338975,107746.20,149647.5,-0.28,...,51.0,0.338975,DotMap(_typ=DotMap()),DotMap(_typ=DotMap()),0,8711,0.28,2016-06-30 23:00:05,2016-06-30 23:29:41,181
25903,72772,79742,81289,79742,989.600950,997.2970,0.220175,95690.40,119613.0,-0.20,...,48.0,0.220175,DotMap(_typ=DotMap()),DotMap(_typ=DotMap()),0,8712,0.20,2016-06-30 23:30:04,2016-06-30 23:59:37,150
25904,67393,79742,83147,79742,976.086920,997.2970,0.254399,90905.88,119613.0,-0.24,...,46.0,0.254399,DotMap(_typ=DotMap()),DotMap(_typ=DotMap()),0,8712,0.24,2016-06-30 23:30:04,2016-06-30 23:59:37,150
25905,63855,79742,84963,79742,961.478350,997.2970,0.273555,86121.36,119613.0,-0.28,...,42.0,0.273555,DotMap(_typ=DotMap()),DotMap(_typ=DotMap()),0,8712,0.28,2016-06-30 23:30:04,2016-06-30 23:59:37,150

In [40]:
df

,VehHourTrav,VehHourTrav_ns,PassHourTrav,PassHourTrav_ns,PassUtility,PassUtility_ns,mean_lambda,revenue_s,revenue_ns,Fare_Discount,...,fleet_size_shared,lambda_shared,_typ,dtype,Replication,Batch,shared_discount,Start_time,End_time,Demand_size
0,92970,114141,117411,114141,1407.676625,1427.5440,0.305817,136969.20,171211.5,-0.20,...,66.0,0.305817,DotMap(_typ=DotMap()),DotMap(_typ=DotMap()),0,0,0.20,2016-01-01 00:00:17,2016-01-01 00:29:45,198
1,82898,114141,120049,114141,1392.810710,1427.5440,0.378822,130120.74,171211.5,-0.24,...,57.0,0.378822,DotMap(_typ=DotMap()),DotMap(_typ=DotMap()),0,0,0.24,2016-01-01 00:00:17,2016-01-01 00:29:45,198
2,79241,114141,122852,114141,1380.820575,1427.5440,0.396498,123272.28,171211.5,-0.28,...,52.0,0.396498,DotMap(_typ=DotMap()),DotMap(_typ=DotMap()),0,0,0.28,2016-01-01 00:00:17,2016-01-01 00:29:45,198
3,112058,132553,134915,132553,1634.817525,1657.8305,0.287076,159063.60,198829.5,-0.20,...,67.0,0.287076,DotMap(_typ=DotMap()),DotMap(_typ=DotMap()),0,1,0.20,2016-01-01 00:30:04,2016-01-01 00:59:48,246
4,105589,132553,137754,132553,1613.657885,1657.8305,0.294371,151110.42,198829.5,-0.24,...,65.0,0.294371,DotMap(_typ=DotMap()),DotMap(_typ=DotMap()),0,1,0.24,2016-01-01 00:30:04,2016-01-01 00:59:48,246
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25901,81563,99765,103560,99765,1215.942735,1247.7390,0.267898,113732.10,149647.5,-0.24,...,54.0,0.267898,DotMap(_typ=DotMap()),DotMap(_typ=DotMap()),0,8711,0.24,2016-06-30 23:00:05,2016-06-30 23:29:41,181
25902,76707,99765,104919,99765,1207.303570,1247.7390,0.338975,107746.20,149647.5,-0.28,...,51.0,0.338975,DotMap(_typ=DotMap()),DotMap(_typ=DotMap()),0,8711,0.28,2016-06-30 23:00:05,2016-06-30 23:29:41,181
25903,72772,79742,81289,79742,989.600950,997.2970,0.220175,95690.40,119613.0,-0.20,...,48.0,0.220175,DotMap(_typ=DotMap()),DotMap(_typ=DotMap()),0,8712,0.20,2016-06-30 23:30:04,2016-06-30 23:59:37,150
25904,67393,79742,83147,79742,976.086920,997.2970,0.254399,90905.88,119613.0,-0.24,...,46.0,0.254399,DotMap(_typ=DotMap()),DotMap(_typ=DotMap()),0,8712,0.24,2016-06-30 23:30:04,2016-06-30 23:59:37,150
25905,63855,79742,84963,79742,961.478350,997.2970,0.273555,86121.36,119613.0,-0.28,...,42.0,0.273555,DotMap(_typ=DotMap()),DotMap(_typ=DotMap()),0,8712,0.28,2016-06-30 23:30:04,2016-06-30 23:59:37,150

In [41]:
df['del_VehHourTrav']=(df['VehHourTrav_ns']-df['VehHourTrav'])/df['VehHourTrav']

df

,VehHourTrav,VehHourTrav_ns,PassHourTrav,PassHourTrav_ns,PassUtility,PassUtility_ns,mean_lambda,revenue_s,revenue_ns,Fare_Discount,...,lambda_shared,_typ,dtype,Replication,Batch,shared_discount,Start_time,End_time,Demand_size,del_VehHourTrav
0,92970,114141,117411,114141,1407.676625,1427.5440,0.305817,136969.20,171211.5,-0.20,...,0.305817,DotMap(_typ=DotMap()),DotMap(_typ=DotMap()),0,0,0.20,2016-01-01 00:00:17,2016-01-01 00:29:45,198,0.227719
1,82898,114141,120049,114141,1392.810710,1427.5440,0.378822,130120.74,171211.5,-0.24,...,0.378822,DotMap(_typ=DotMap()),DotMap(_typ=DotMap()),0,0,0.24,2016-01-01 00:00:17,2016-01-01 00:29:45,198,0.376885
2,79241,114141,122852,114141,1380.820575,1427.5440,0.396498,123272.28,171211.5,-0.28,...,0.396498,DotMap(_typ=DotMap()),DotMap(_typ=DotMap()),0,0,0.28,2016-01-01 00:00:17,2016-01-01 00:29:45,198,0.440429
3,112058,132553,134915,132553,1634.817525,1657.8305,0.287076,159063.60,198829.5,-0.20,...,0.287076,DotMap(_typ=DotMap()),DotMap(_typ=DotMap()),0,1,0.20,2016-01-01 00:30:04,2016-01-01 00:59:48,246,0.182896
4,105589,132553,137754,132553,1613.657885,1657.8305,0.294371,151110.42,198829.5,-0.24,...,0.294371,DotMap(_typ=DotMap()),DotMap(_typ=DotMap()),0,1,0.24,2016-01-01 00:30:04,2016-01-01 00:59:48,246,0.255368
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25901,81563,99765,103560,99765,1215.942735,1247.7390,0.267898,113732.10,149647.5,-0.24,...,0.267898,DotMap(_typ=DotMap()),DotMap(_typ=DotMap()),0,8711,0.24,2016-06-30 23:00:05,2016-06-30 23:29:41,181,0.223165
25902,76707,99765,104919,99765,1207.303570,1247.7390,0.338975,107746.20,149647.5,-0.28,...,0.338975,DotMap(_typ=DotMap()),DotMap(_typ=DotMap()),0,8711,0.28,2016-06-30 23:00:05,2016-06-30 23:29:41,181,0.300598
25903,72772,79742,81289,79742,989.600950,997.2970,0.220175,95690.40,119613.0,-0.20,...,0.220175,DotMap(_typ=DotMap()),DotMap(_typ=DotMap()),0,8712,0.20,2016-06-30 23:30:04,2016-06-30 23:59:37,150,0.095779
25904,67393,79742,83147,79742,976.086920,997.2970,0.254399,90905.88,119613.0,-0.24,...,0.254399,DotMap(_typ=DotMap()),DotMap(_typ=DotMap()),0,8712,0.24,2016-06-30 23:30:04,2016-06-30 23:59:37,150,0.183239
25905,63855,79742,84963,79742,961.478350,997.2970,0.273555,86121.36,119613.0,-0.28,...,0.273555,DotMap(_typ=DotMap()),DotMap(_typ=DotMap()),0,8712,0.28,2016-06-30 23:30:04,2016-06-30 23:59:37,150,0.248798

In [42]:
df['del_PassHourTrav']=abs((df['PassHourTrav_ns']-df['PassHourTrav'])/df['PassHourTrav'])

df

,VehHourTrav,VehHourTrav_ns,PassHourTrav,PassHourTrav_ns,PassUtility,PassUtility_ns,mean_lambda,revenue_s,revenue_ns,Fare_Discount,...,_typ,dtype,Replication,Batch,shared_discount,Start_time,End_time,Demand_size,del_VehHourTrav,del_PassHourTrav
0,92970,114141,117411,114141,1407.676625,1427.5440,0.305817,136969.20,171211.5,-0.20,...,DotMap(_typ=DotMap()),DotMap(_typ=DotMap()),0,0,0.20,2016-01-01 00:00:17,2016-01-01 00:29:45,198,0.227719,0.027851
1,82898,114141,120049,114141,1392.810710,1427.5440,0.378822,130120.74,171211.5,-0.24,...,DotMap(_typ=DotMap()),DotMap(_typ=DotMap()),0,0,0.24,2016-01-01 00:00:17,2016-01-01 00:29:45,198,0.376885,0.049213
2,79241,114141,122852,114141,1380.820575,1427.5440,0.396498,123272.28,171211.5,-0.28,...,DotMap(_typ=DotMap()),DotMap(_typ=DotMap()),0,0,0.28,2016-01-01 00:00:17,2016-01-01 00:29:45,198,0.440429,0.070906
3,112058,132553,134915,132553,1634.817525,1657.8305,0.287076,159063.60,198829.5,-0.20,...,DotMap(_typ=DotMap()),DotMap(_typ=DotMap()),0,1,0.20,2016-01-01 00:30:04,2016-01-01 00:59:48,246,0.182896,0.017507
4,105589,132553,137754,132553,1613.657885,1657.8305,0.294371,151110.42,198829.5,-0.24,...,DotMap(_typ=DotMap()),DotMap(_typ=DotMap()),0,1,0.24,2016-01-01 00:30:04,2016-01-01 00:59:48,246,0.255368,0.037756
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25901,81563,99765,103560,99765,1215.942735,1247.7390,0.267898,113732.10,149647.5,-0.24,...,DotMap(_typ=DotMap()),DotMap(_typ=DotMap()),0,8711,0.24,2016-06-30 23:00:05,2016-06-30 23:29:41,181,0.223165,0.036645
25902,76707,99765,104919,99765,1207.303570,1247.7390,0.338975,107746.20,149647.5,-0.28,...,DotMap(_typ=DotMap()),DotMap(_typ=DotMap()),0,8711,0.28,2016-06-30 23:00:05,2016-06-30 23:29:41,181,0.300598,0.049124
25903,72772,79742,81289,79742,989.600950,997.2970,0.220175,95690.40,119613.0,-0.20,...,DotMap(_typ=DotMap()),DotMap(_typ=DotMap()),0,8712,0.20,2016-06-30 23:30:04,2016-06-30 23:59:37,150,0.095779,0.019031
25904,67393,79742,83147,79742,976.086920,997.2970,0.254399,90905.88,119613.0,-0.24,...,DotMap(_typ=DotMap()),DotMap(_typ=DotMap()),0,8712,0.24,2016-06-30 23:30:04,2016-06-30 23:59:37,150,0.183239,0.040952
25905,63855,79742,84963,79742,961.478350,997.2970,0.273555,86121.36,119613.0,-0.28,...,DotMap(_typ=DotMap()),DotMap(_typ=DotMap()),0,8712,0.28,2016-06-30 23:30:04,2016-06-30 23:59:37,150,0.248798,0.061450

In [43]:
df['del_PassUtility']=abs((df['PassUtility_ns']-df['PassUtility'])/df['PassUtility'])

df

,VehHourTrav,VehHourTrav_ns,PassHourTrav,PassHourTrav_ns,PassUtility,PassUtility_ns,mean_lambda,revenue_s,revenue_ns,Fare_Discount,...,dtype,Replication,Batch,shared_discount,Start_time,End_time,Demand_size,del_VehHourTrav,del_PassHourTrav,del_PassUtility
0,92970,114141,117411,114141,1407.676625,1427.5440,0.305817,136969.20,171211.5,-0.20,...,DotMap(_typ=DotMap()),0,0,0.20,2016-01-01 00:00:17,2016-01-01 00:29:45,198,0.227719,0.027851,0.014114
1,82898,114141,120049,114141,1392.810710,1427.5440,0.378822,130120.74,171211.5,-0.24,...,DotMap(_typ=DotMap()),0,0,0.24,2016-01-01 00:00:17,2016-01-01 00:29:45,198,0.376885,0.049213,0.024938
2,79241,114141,122852,114141,1380.820575,1427.5440,0.396498,123272.28,171211.5,-0.28,...,DotMap(_typ=DotMap()),0,0,0.28,2016-01-01 00:00:17,2016-01-01 00:29:45,198,0.440429,0.070906,0.033837
3,112058,132553,134915,132553,1634.817525,1657.8305,0.287076,159063.60,198829.5,-0.20,...,DotMap(_typ=DotMap()),0,1,0.20,2016-01-01 00:30:04,2016-01-01 00:59:48,246,0.182896,0.017507,0.014077
4,105589,132553,137754,132553,1613.657885,1657.8305,0.294371,151110.42,198829.5,-0.24,...,DotMap(_typ=DotMap()),0,1,0.24,2016-01-01 00:30:04,2016-01-01 00:59:48,246,0.255368,0.037756,0.027374
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25901,81563,99765,103560,99765,1215.942735,1247.7390,0.267898,113732.10,149647.5,-0.24,...,DotMap(_typ=DotMap()),0,8711,0.24,2016-06-30 23:00:05,2016-06-30 23:29:41,181,0.223165,0.036645,0.026149
25902,76707,99765,104919,99765,1207.303570,1247.7390,0.338975,107746.20,149647.5,-0.28,...,DotMap(_typ=DotMap()),0,8711,0.28,2016-06-30 23:00:05,2016-06-30 23:29:41,181,0.300598,0.049124,0.033492
25903,72772,79742,81289,79742,989.600950,997.2970,0.220175,95690.40,119613.0,-0.20,...,DotMap(_typ=DotMap()),0,8712,0.20,2016-06-30 23:30:04,2016-06-30 23:59:37,150,0.095779,0.019031,0.007777
25904,67393,79742,83147,79742,976.086920,997.2970,0.254399,90905.88,119613.0,-0.24,...,DotMap(_typ=DotMap()),0,8712,0.24,2016-06-30 23:30:04,2016-06-30 23:59:37,150,0.183239,0.040952,0.021730
25905,63855,79742,84963,79742,961.478350,997.2970,0.273555,86121.36,119613.0,-0.28,...,DotMap(_typ=DotMap()),0,8712,0.28,2016-06-30 23:30:04,2016-06-30 23:59:37,150,0.248798,0.061450,0.037254

In [44]:
df['Occupancy']=df['PassHourTrav']/df['VehHourTrav']

df

,VehHourTrav,VehHourTrav_ns,PassHourTrav,PassHourTrav_ns,PassUtility,PassUtility_ns,mean_lambda,revenue_s,revenue_ns,Fare_Discount,...,Replication,Batch,shared_discount,Start_time,End_time,Demand_size,del_VehHourTrav,del_PassHourTrav,del_PassUtility,Occupancy
0,92970,114141,117411,114141,1407.676625,1427.5440,0.305817,136969.20,171211.5,-0.20,...,0,0,0.20,2016-01-01 00:00:17,2016-01-01 00:29:45,198,0.227719,0.027851,0.014114,1.262891
1,82898,114141,120049,114141,1392.810710,1427.5440,0.378822,130120.74,171211.5,-0.24,...,0,0,0.24,2016-01-01 00:00:17,2016-01-01 00:29:45,198,0.376885,0.049213,0.024938,1.448153
2,79241,114141,122852,114141,1380.820575,1427.5440,0.396498,123272.28,171211.5,-0.28,...,0,0,0.28,2016-01-01 00:00:17,2016-01-01 00:29:45,198,0.440429,0.070906,0.033837,1.550359
3,112058,132553,134915,132553,1634.817525,1657.8305,0.287076,159063.60,198829.5,-0.20,...,0,1,0.20,2016-01-01 00:30:04,2016-01-01 00:59:48,246,0.182896,0.017507,0.014077,1.203975
4,105589,132553,137754,132553,1613.657885,1657.8305,0.294371,151110.42,198829.5,-0.24,...,0,1,0.24,2016-01-01 00:30:04,2016-01-01 00:59:48,246,0.255368,0.037756,0.027374,1.304625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25901,81563,99765,103560,99765,1215.942735,1247.7390,0.267898,113732.10,149647.5,-0.24,...,0,8711,0.24,2016-06-30 23:00:05,2016-06-30 23:29:41,181,0.223165,0.036645,0.026149,1.269693
25902,76707,99765,104919,99765,1207.303570,1247.7390,0.338975,107746.20,149647.5,-0.28,...,0,8711,0.28,2016-06-30 23:00:05,2016-06-30 23:29:41,181,0.300598,0.049124,0.033492,1.367789
25903,72772,79742,81289,79742,989.600950,997.2970,0.220175,95690.40,119613.0,-0.20,...,0,8712,0.20,2016-06-30 23:30:04,2016-06-30 23:59:37,150,0.095779,0.019031,0.007777,1.117037
25904,67393,79742,83147,79742,976.086920,997.2970,0.254399,90905.88,119613.0,-0.24,...,0,8712,0.24,2016-06-30 23:30:04,2016-06-30 23:59:37,150,0.183239,0.040952,0.021730,1.233763
25905,63855,79742,84963,79742,961.478350,997.2970,0.273555,86121.36,119613.0,-0.28,...,0,8712,0.28,2016-06-30 23:30:04,2016-06-30 23:59:37,150,0.248798,0.061450,0.037254,1.330561

In [45]:
df.columns

Index(['VehHourTrav', 'VehHourTrav_ns', 'PassHourTrav', 'PassHourTrav_ns',
       'PassUtility', 'PassUtility_ns', 'mean_lambda', 'revenue_s',
       'revenue_ns', 'Fare_Discount', 'nR', 'SINGLE', 'PAIRS', 'TRIPLES',
       'QUADRIPLES', 'QUINTETS', 'PLUS5', 'shared_ratio',
       'fleet_size_nonshared', 'fleet_size_shared', 'lambda_shared', '_typ',
       'dtype', 'Replication', 'Batch', 'shared_discount', 'Start_time',
       'End_time', 'Demand_size', 'del_VehHourTrav', 'del_PassHourTrav',
       'del_PassUtility', 'Occupancy'],
      dtype='object')

In [35]:
df.loc[df.shared_discount==0.2]

AttributeError: 'DataFrameGroupBy' object has no attribute 'loc'

In [27]:
df=df[(df.Start_time.dt.dayofweek<5)].groupby(df.Start_time.dt.hour).del_VehHourTrav.mean()
df

AttributeError: 'SeriesGroupBy' object has no attribute 'dt'